*:before,
*:after {
    box-sizing: inherit;
}

.card {
    /*----margin from top----*/
    margin-top: 2rem;
}

/*----button and label division----*/
.barra {
    display: flex;
    justify-content: space-between;
}

/*----button "add" fetures etc   ----*/
.barra a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    background-color: #28a745;
    padding: 0 1.8rem;
    border-radius: 1.4rem;
    color: white;
   
}

.barra .btn_general_pdf {
    background-color: #f25961;
}

/*----text area style ----*/
.campo textarea {
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
    height: 10rem;
    border: none;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
}

.circulo {
    width: 40px;
    height: 40px;
    background-color: #6861ce;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-weight: bold;
    font-size: large;
    font-family: sans-serif;
    margin-left: .6rem;
}


.ProcesoAnalitico {
    line-height: 18px;
}

.card-body{
    background-color: #ffffff;
}

.td_flex{
    
    display: flex;
   
    align-items: center;
    
        
}

.MatrizDafoWidth{
   width: 100%;
}