*:before,
*:after {
    box-sizing: inherit;
}



.botones {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.botones a {
    text-decoration: none;
    color: white;
}

.btn1 {
    background-color: rgb(186, 28, 248);
    padding: 10px;
    border: none;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
    text-align: center;
    color: white;
    text-decoration: none;
}

.card{
    margin-top: 2rem;

}

.barra{
    display: flex;
    justify-content: space-between;

}

.barra a{    
    display: flex;  
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
    background-color: #26a946;
    padding: 0 1.8rem;
    border-radius: 1.4rem;
    color: white;
}
